<button (click)="eliminaObjectProperty()">elimina</button>
<div  mat-dialog-content>
  <section aria-label="Select an option">
    <div *ngFor="let element of this.listOfObjectProperties">
      <mat-checkbox  (change)="changed($event)" value="{{element}}">{{element}}</mat-checkbox >
    </div>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
