<main style="padding-left: 100px">
  <app-spinner-material-component *ngIf="this.globalVaraibleService.spinner"></app-spinner-material-component>

  <router-outlet></router-outlet>
  <br/>
  <br/>
  <br/>
  <br/>


  <button id="visualizza-svg-d3-button" class="btn btn-secondary" (click)="navigateTab('/charts')">Naviga a pagina<h1> Charts </h1></button>
  <br/>
  <br/>
  <button id="charts" class="btn btn-secondary" (click)="navigateTab('/svg-output')">Naviga a pagina <h1> rete totale </h1></button>
  <br/>
  <br/>
  <button id="queries" class="btn btn-secondary" (click)="navigateTab('/queries-view')">Naviga a pagina <h1> queries </h1></button>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</main>





