<label>&nbsp;&nbsp;</label>
<br/>
<br/>
<div class="mygrid">
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone9" class="z-indexed"
          class="btn btn-primary" (click)="redraw()">Visualizza tutto grafo (solo to)
  </button>
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone10" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithComplexStatment('?s ?p ?o.%0A'+
'    ?p rdfs:subPropertyOf* :to.%0A'+
'    FILTER (?p != :to) .')">Visualizza tutto grafo (solo sostanze)
  </button>
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone13" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithComplexStatment('?s ?p ?o.%0A'+
'    ?p rdfs:subPropertyOf* :to.%0A')">Visualizza tutto grafo (to e sostanze)
  </button>
  <!--<button class="content" style="height: 100px; font-size: 30px;" id="bottone1" class="z-indexed"
          class="btn btn-primary" (click)="cleanGraph()">rimuovi grafo
  </button>
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone2" class="z-indexed"
          class="btn btn-primary" (click)="saveSVG()">Download grafo
  </button>-->
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone3" class="z-indexed"
          class="btn btn-primary" (click)="riaggiornaGrafoConColori()">Aggiorna ontologia GraphDB
  </button>

  <button class="content" style="height: 100px; font-size: 30px;" id="bottone14" class="z-indexed"
          class="btn btn-primary" (click)="aggiornaOntlogiaConProprietaSeparate()">Aggiorna ontologia GraphDB con proprietà separate
  </button>

  <!--<button class="content" style="height: 100px; font-size: 30px;" id="bottone4" class="z-indexed"
          class="btn btn-primary" (click)="updateColors()">Aggiorna colori
  </button>  TODO da finire..... che rappresenta l'intero impianto con tutti i colori-->
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone8" class="z-indexed"
          class="btn btn-primary" (click)="posizionaSuGrafo()">Posiziona su grafo
  </button>
  <!--<button class="content" style="height: 100px; font-size: 30px;" id="bottone5" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithDifferentPredicate('to_cloro')">visualizza con to_cloro
  </button>
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone6" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithDifferentPredicate('to_ferroso')">visualizza con to_ferroso
  </button>
  <button class="content" style="height: 100px; font-size: 30px;" id="bottone7" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithDifferentPredicate('to_cloruro_ferrico')">visualizza con
    to_cloruro_ferrico
  </button>-->


  <br/>
  <br/>
  <br/>
  <br/>

  <app-queries-view></app-queries-view>

  <br/>
  <br/>

  <button class="content" style="height: 100px; font-size: 30px;" id="bottone11" class="z-indexed"
          class="btn btn-primary" (click)="redrawWithModalQuery('')">Genera grafo da query
  </button>



</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>  <button class="content" style="height: 100px; font-size: 30px;" id="bottone12" class="z-indexed"
               class="btn btn-primary" (click)="scale(0.2)">Scala
</button>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <input id="valore-scalatura-svg" value="0.2">
</div>
<a href="http://localhost:8080/spring-app/svg/files">DOWNLOAD GENERATED ONTOLOGY </a>
<div id="svg-body" class="panel-body" #chart></div>


